*{
  margin: 0;
  padding: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

      /* Colors */
    --ft-border: #ccc;
    --ft-text: #222;
    --ft-bg: #fff;
    --ft-header-bg: #f7f7f7;

    /* Spacing */
    --ft-padding-sm: 6px;
    --ft-padding-md: 10px;

    /* Radius */
    --ft-radius: 4px;
}

/* Dark mode overrides */
[data-theme="dark"] {
    --ft-border: #444;
    --ft-text: #eee;
    --ft-bg: #121212;
    --ft-header-bg: #1d1d1d;
}